<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.bricenangue.timeme">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission
        android:name="com.app.bricenangue.timeme.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.app.bricenangue.timeme.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TimeMeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_timesheet_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name_main_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFireBaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".LoginScreenActivity"
            android:label="@string/app_name_login_screen_activity" />
        <activity
            android:name=".RegisterUserActivity"
            android:label="@string/app_name_create_user_activity" />
        <activity
            android:name=".OpenUserProfileActivity"
            android:label="@string/app_name_open_user_profile_activity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings" />
        <activity
            android:name=".NewCalendarActivty"
            android:label="@string/app_name_newcalendar_activity"
            android:theme="@style/MYAppTheme" />
        <activity
            android:name=".AddNewEventActivity"
            android:label="@string/app_name_add_new_event_activity" />
        <activity
            android:name=".AddNewEventFragment"
            android:label="@string/app_name_add_new_event_fragment" />
        <activity
            android:name=".BaseActivity"
            android:label="@string/app_name_base_activity"
            android:parentActivityName=".NewCalendarActivty">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.bricenangue.timeme.NewCalendarActivty" />
        </activity>
        <activity
            android:name=".BasicActivity"
            android:label="@string/app_name_basic_activity" />
        <activity
            android:name=".AsynchronousActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".CreateNewShoppingListActivity"
            android:label="@string/app_name_create_new_shopping_list_activity" />
        <activity
            android:name=".AddItemToListActivity"
            android:label="@string/app_name_add_item_to_list_activity" />
        <activity
            android:name=".CreatANewItemActivity"
            android:label="@string/app_name_create_a_new_item_activity" />
        <activity
            android:name=".DetailsShoppingListActivity"
            android:label="@string/app_name_details_shopping_list_activity" />
        <activity
            android:name=".PreferenceAppActivity"
            android:label="@string/app_name_preference_app_activity" />
        <activity
            android:name=".RequestHandlerActivity"
            android:label="@string/app_name_request_handler_app_activity" />
        <activity android:name=".CreateFinanceAccountActivity" />
        <activity android:name=".DetailsFinanceAccountActivity" />
        <activity android:name=".CreateFinanceRecordsActivity" />
        <activity
            android:name=".ViewFinanceRecordsDetailsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".InviteFriendActivity" />
        <activity
            android:name=".FinanceChartActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".AllChartsActivity" />
        <activity android:name=".PieChartActivity" />
        <activity android:name=".TimeMeChatActivity" />
        <activity android:name=".RemovedAsFriendActivity" />
        <activity android:name=".DetailsShoppingListFireBaseActivity"></activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>